<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Forrest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Forrest.Properties.Settings>
            <setting name="ContInt" serializeAs="String">
                <value>0.3s</value>
            </setting>
            <setting name="ContGain" serializeAs="String">
                <value>x1</value>
            </setting>
            <setting name="ContOffset" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Gain70" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpecInt" serializeAs="String">
                <value>0.3s</value>
            </setting>
            <setting name="SpecGain" serializeAs="String">
                <value>x1</value>
            </setting>
            <setting name="SpecOffset" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="NeedsUpgrading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecOffset2" serializeAs="String">
                <value>1</value>
            </setting>
        </Forrest.Properties.Settings>
    </userSettings>
</configuration>
